#jobsHolder{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
}

#jobsTable{
  width: 60%;
}

tr{
  border: 10px solid black;
}

th{
  height: 4vh;
  font-size: larger;
}

td{
  height: 2vh;
}

th, td{
  border: 1px solid black;
  text-align: center;
}

tr{
  border-collapse: collapse;
}